#movie_columns {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	flex-wrap: wrap;
	margin-top: 3.2em;
}

.movie {
	width: 30%;
	&:nth-child(3n+2) {
		@media screen and (min-width: 480px) {
			margin-left: 5%;
			margin-right: 5%;
		}
	}
	@media screen and (max-width: 480px) {
		width: 100%;
	}
	.movie__container {
		position: relative;
		overflow: hidden;
		margin-bottom: 10%;
		height: 250px;
		border-radius: 2px;
		background: white;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		transition: all 0.2s ease-in-out;
		&:hover {
			box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		}
	}
	.movie__image {
		width: auto;
		height: 100%;
	}
	.movie__image--mask {
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.22) 40%, rgba(0,0,0,0) 100%);
	}
	.movie__caption {
		position: absolute;
		height: 75px;
		width: 100%;
		background: white;
		bottom: 0;
		z-index: 10;
		padding: 1.2em;
	}
}

