* {
	box-sizing: border-box;
}

body {
	background: $light-grey;
}

.inner{
	width: 90%;
	max-width: 960px;
	margin: 0 auto;
}

.mobile-hide {
	display: block;
	@media screen and (max-width: 500px) {
		display: none;
	}
}

.mobile-show {
	display: none;
	@media screen and (max-width: 500px) {
		display: block;
	}
}