.project-modal-outer {
	position: fixed;
	overflow: scroll;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	z-index: 90;
}

.project-modal{
	position: absolute;
	max-width: 900px;
	top: 5%;
	margin-bottom: 3%;
	//padding: 6.4em 3.2em;
	left: 50%;
	width: 95%;
	background: white;
	transform: translateX(-50%);
	z-index: 100;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	& h1{
		font-size: 3rem;
		margin-bottom: 0.6em;
		width: 100%;
	}
	& p{
		font-size: 1.2rem;
		line-height: 1.6em;
		max-width: 600px;
		color: $dark-grey;
	}
	& .close-btn {
		position: absolute;
		top: 10px;
		right: 15px;
		text-decoration: none;
		font-size: 2.4em;
		color: white;
	}
	& .project-modal__background {
		z-index: -10;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 300px;
		overflow: hidden;
		& img {
			width: 150%;
			filter: blur(10px);
			margin-left: -25%;
			margin-top: -10%;
		}
	}
	& .modal-content{
		width: 90%;
		margin: 0 auto 3.2em;
	}
	& h2{
		font-size: 2rem;
		margin: 1.2em 0 0.6em;
	}
	& li{
		line-height: 1.6em;
		font-size: 1.2rem;
		color: $dark-grey;
	}
	& .project-modal__video {
		display: block;
		margin: 3.2em auto;
		width: 90%;
		border: 1px solid black;
		box-shadow: 0 -10px 40px rgba(0,0,0,0.5);
	}
}
